:root {
  --bs-primary-rgb: 0, 75, 151;/*一定要是 R,G,B ，這個改成你要的顏色*/
  --bs-link-color: #373f51;/*這是超連結的顏色*/
  --bs-link-hover-color: #637192;/*這是超連結滑鼠游標移動過去的時候呈現的顏色*/
} /*這個要在 mystyle.css 第一行*/

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}
